.nav-linkss a {
  display: block;
  padding: 0.5rem 1rem;
  color: #495057;
}
.nav-linkss a:hover {
  text-decoration: none;
}
.fails {
  color: red;
  text-align: center;
  background-color: #fee8d1;
}
.success {
  color: green;
  text-align: center;
  background-color: #fee8d1;
}
